body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#login-box {
    width: 550px;
    background: #fff;
    height: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.left {
    float: left;
    width: 60%;
}

.right {
    float: right;
    width: 35%;
    text-align: center;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px outset; #ccc;
    border-radius: 5px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.or {
    border: 5px solid #b3b2b1;
    background-color: #b3b2b1;
    border-radius: 10px;
    text-align: center;

    font-weight: bold;
    align-items: center;
}

.social-signin {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #55acee;
}

.google {
    background-color: #dd4b39;
}
